@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Edu+TAS+Beginner&family=Inter:wght@300&family=Krub:wght@300&family=Lora&family=Merriweather:wght@700&family=Nunito:ital,wght@1,200&family=Roboto+Condensed:wght@300&family=Updock&display=swap');


* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: visible;
}

.header {
    background: #57a958;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 4px;
    font-family: sans-serif;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

.control-panel {
    background: lightgray;
    text-align: right;
    padding: 4px;
    font-family: sans-serif;

    display: flex;
    align-items: center;
    justify-content: right;
}

.fontSection{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-right: 15px;
}

label{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    cursor: pointer;
}

#fontInput{
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    width: 70px;
    outline: none;
    cursor: pointer;
}

#fontInput::-webkit-outer-spin-button,#fontInput::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.languages {
    background: white;
    border: 1px solid gray;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

.languages option{
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

#editor {
    height: 61vh;
    font-size: 16px;
}

.button-container {
    text-align: right;
    padding: 4px;
    margin-right: 1%;
}

.btn {
    background: #57a958;
    color: white;
    padding: 8px 15px;
    border: 0;
    font-size: 16px;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.1);
    transition-property: transform;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.btn:active {
    transform: scale(0.9);
    background-color: #95bf96;
    transition-property: transform;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.mainEditor{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.output {
    padding: 4px;
    border: 2px solid gray;
    min-height: 20vh;
    max-height: 200vh;
    overflow: visible;
    width: 99vw;
    text-align: left;
    margin: 5px 6px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}




@media (max-width:600px) {
    .fontSection{
        position: absolute;
        left: 0;
        margin-left: 20px;
    }

}

@media (max-width:350px) {
    .fontSection{
        position: absolute;
        left: 0;
        margin-left: 5px;
    }

    label{
        display: none;
    }

}